<p id="notice"><%= notice %></p>

<h1>Listing Offerings</h1>

<table>
  <thead>
    <tr>
      <th>Course</th>
      <th>Semester</th>
      <th>Location</th>
      <th>Section</th>
      <th>CRN</th>
      <th>Open</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @offerings.each do |offering| %>
      <tr>
        <td><%= offering.course.title %></td>
        <td><%= offering.semester %></td>
        <td><%= offering.location %></td>
        <td><%= offering.section %></td>
        <td><%= offering.crn %></td>
        <td><%= offering.spots_available %></td>
        <td><%= button_to 'Enroll', enroll_offering_path(offering) %></td>
        <td><%= link_to 'Show', offering_path(offering) %></td>
        <td><%= link_to 'Edit', edit_offering_path(offering) %></td>
        <td><%= link_to 'Destroy', offering_path(offering), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= link_to 'Search', search_offerings_path %>
<%= link_to 'New Offering', new_offering_path %>
<%= link_to 'Back', :back %>