<p id="notice"><%= notice %></p>
<p id="alert"><%= alert %></p>

<p>
  <strong>Course:</strong>
  <%= @offering.course.title %>
</p>
<p>
  <strong>Professor:</strong>
  <%= @offering.professor_last_name %>
</p>
<p>
  <strong>Semester:</strong>
  <%= @offering.semester %>
</p>
<p>
  <strong>Location:</strong>
  <%= @offering.location %>
</p>
<p>
  <strong>Section:</strong>
  <%= @offering.section %>
</p>
<p>
  <strong>CRN:</strong>
  <%= @offering.crn %>
</p>
<p>
  <strong>Spots Available:</strong>
  <%= @offering.spots_available %>
</p>

<%= button_to 'Enroll', action: 'enroll' %>

<%= link_to 'Edit', edit_offering_path(@offering) %> |
<%= link_to 'Back', :back %>
