<p id="notice"><%= notice %></p>

<p>
  <strong>Department:</strong>
  <%= @course.department %>
</p>

<p>
  <strong>Number:</strong>
  <%= @course.course_number %>
</p>

<p>
  <strong>Title:</strong>
  <%= @course.title %>
</p>
<p>
  <strong>Offerings:</strong>
  <% @course.offerings.each do |offering| %>
    <%= link_to offering.section, offering %>
<% end %>
</p>


<%= link_to 'Edit', edit_course_path(@course) %> |
<%= link_to 'Back', courses_path %>
